h1= title
p With #{title} you can manage your user stories and write them collaborativelly.
p Integrate with Cucumber and other BDD tools and track execution and status of your application.

a(href='stories') Create a new story now!
