h1 #{title}

form#story(method='post')

 p
  label  Feature:
  input(name='story[feature]')

 p
  label Description:
  textarea(name='story[description]', cols='80', rows='10')

 input(class='submit-button', type='submit', name='create', value='Create story')
